*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster Two', cursive;
  font-family: 'Montserrat', sans-serif;
  
}


body {
  /* background-image: url(https://media.istockphoto.com/id/1182837157/photo/selection-of-antioxidant-group-of-food-frame-copy-space.jpg?s=612x612&w=0&k=20&c=JBAFzHwsSiBVnEcNZV3LUQi5fHFOy1fuLC7SX9RJ4Hs=); */
  /* background-repeat: no-repeat; */
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-position:50% 50%;
  margin: 0% 20%;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

h4 {
  font-size: 1rem;
  color: rgb(56, 56, 56);
}

h3 {
  font-size: 1.5rem;
  color: rgb(56, 56, 56);
  line-height: 2.5rem;
  margin: 2rem 0rem;
}

a{
  color: rgb(56, 56, 56);
}

