*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster Two', cursive;
  font-family: 'Montserrat', sans-serif;
  
}


body {
  background-color: #222222;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-position:50% 50%;
  margin: 0% 20%;
}


h4 {
  font-size: 1rem;
  color: white;
}

h3 {
  font-size: 1.5rem;
  color: white;
  line-height: 2.5rem;
  margin: 2rem 0rem;
}

a{
  color: #e27429 ;
}

input[type="radio"] {
  display: none;
}

.star{
  cursor: pointer;
  transition: color 200ms;
}

.form-container {
  font-size: 1.2rem;
  font-weight: bolder;
  display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.25vmin;
    color: var(--text-light);
}


p {
  color: white;
}

ul{
  color: white;
  font-weight: bolder;
}

h5{
  font-family: 'Lobster Two', cursive;
}

.sigLog{
  background-color: #e27429;
  font-size: 18px;
  padding: 10px 24px;
  border-radius: 6px;
  border: 2px solid #e27429;
}

.sigLog {
  transition-duration: 0.4s;
}

.sigLog:hover {
  color: white;
}

.Img {
  position: absolute;
  height: 400px;
  width: 60%;
  margin-top: 13rem;
  border-style: none;
}

.Img {
  transition: 1s ease;
  }

  .Img :hover {
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
    transition: 1s ease;
    }